<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
  <div class="w-100">
    <h1 class="mb-0">Deroma
      <span class="text-primary">Antoine</span>
    </h1>
    <div class="subheading mb-5">67 Av Simone Veil · 06200, NICE · FRANCE · 06 42 10 39 81 ·
      <a href="mailto:antoine.deroma@gmail.com">antoine.deroma@gmail.com</a>
    </div>
    <p class="lead mb-5">Je suis un jeune dévelopeur dynamique qui aime le challenge et les nouvelles technologies. Mes différentes expériences professionnelles et personnelles m'ont permises d'acquérir une certaine maturité dans le monde du travail.
    <br> Doté d'une bonne capacité d'adaptation, autonome et autodidacte, ces atouts me permettent d'apprendre rapidement de nouvelles compétences.
    </p>
    <div class="social-icons">
      <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/antoine-deroma-b79576153/">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/anderoma">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</section>