<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
  <div class="w-100">
    <h2 class="mb-5">Compétences</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
      <div class="resume-content">
        <h3 class="mb-0">Languages de programmation &amp; Outils</h3>
        <p>
          <ul class="list-inline dev-icons">
            <li class="list-inline-item">
              <i class="icon-css3-alt"></i>
            </li>
            <li class="list-inline-item">
              <i class="icon-html5-alt"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-js-square" style="font-size:50px"></i>                
            </li>
            <li class="list-inline-item">
              <i class="fab fa-php fa-lg" style="font-size:50px"></i>                
            </li>
            <li class="list-inline-item">
              <i class="icon-bootstrap"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-trello" style="font-size:50px"></i>
            </li>
            <li class="list-inline-item">
              <i class="icon-git" style="font-size:50px"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-trello" style="font-size:50px"></i>
            </li>
            <li class="list-inline-item">
              <i class="icon-heroku"></i>
            </li>
          </ul>
        </p>
        <div class="resume-content">
          <h3 class="mb-0"> &#128679; &nbsp; Apprentissage en cours &nbsp;&nbsp;
            <i class="fab fa-react" style="font-size:50px"></i>
          </h3>
        </div>
      </div>
    </div>
    <br>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
      <div class="resume-content">
        <h3 class="mb-0"> Langues </h3>
        <br>
        <div class="subheading mb-3"> Français &nbsp;&nbsp;
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <br>
        <div class="subheading mb-3"> Anglais &nbsp;&nbsp;
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="far fa-star"></span>
          <span class="far fa-star"></span>
        </div>
      </div>
    </div>
  </div>
</section>