<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
  <div class="w-100">
    <h2 class="mb-5">Diplômes &nbsp; &#127891;</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">

        <div class="row">
        <div>
          <%= image_tag "thp.png", width: 70 %>
        </div>
        <div>
          <h3 class="mb-0">&nbsp; &nbsp; The Hacking Project</h3>
          <div class="subheading mb-3">&nbsp; &nbsp; &nbsp; Développement Web</div>
        </div></div>

        <p> Nice </p>
        <p>Formation intensive de 12 semaines : 
        <br>- HTML / CSS
        <br>- Javascript
        <br>- Ruby on Rails
        <br>- Ruby
        <br>- APIs / Création de bots
        <br>- Git /Github
        <br>- Bootstrap
        <br>- Trello
        <br>- PostgreSQL
        <br>- SQLite
        <br>- Heroku
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Septembre 2019 - Décembre 2019</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">

        <div class="row">
        <div>
          <%= image_tag "42.png", width: 90 %>
        </div>
        <div>
          <h3 class="mb-0"> &nbsp; &nbsp; 42</h3>
          <div class="subheading mb-3"> &nbsp; &nbsp; Piscine C </div>
        </div></div>

        <p> Lyon </p>
        <p> - Shell
        <br>- Programmation langage C
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Août 2019</span>
      </div>

    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">

        <div class="row">
        <div>
          <%= image_tag "universite.png", width: 110 %>
        </div>
        <div>
          <h3 class="mb-0"> &nbsp; Université de Nice-Sophia-antipolis</h3>
          <div class="subheading mb-3"> &nbsp;  License Économie Gestion</div>
        </div></div>

        <p> Nice </p>
        <p> - Management
        <br>- Statistiques
        <br>- Mathématiques
        <br>- Macroéconomie / Microéconomie
        <br>- Économie
        <br>- Comportement du consommateur
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2014 - 2017</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Lycée Auguste Renoir</h3>
        <div class="subheading mb-3"> Baccalauréat Scientifique </div>
        <div> Cagnes sur mer </div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2010 - 2013</span>
        
      </div>
    </div>

  </div>
</section>