<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
  <div class="w-100">
    <h2 class="mb-5">Experiences</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Développeur web</h3>
        <a class="subheading mb-3" target="_blank" rel="noopener noreferrer" href="https://www.tendancelocale.fr/">www.tendancelocale.fr</a>
        <p>Antibes, FRANCE</p>
        <ul>
          <li>Wordpress, création de site internet custom avec bootstrap 5 </li>
          <li> Prestashop, création de site e-commerce, mise en place du catalogue produit, intégration de module existant et création de module sur-mesure.</li>
          <li> Bootstrap </li>
          <li>Zapier, synchronisation entre différentes solutions web et mise en place de scénario en automatique </li>
          <li> Lengow, BeezUp, gestion de flux et mapping produit </li>
          <li> Axonaut, (ERP et CRM français) intégration et formation pour des PME </li>
          <li> Hubspot et SendinBlue, mise en place de scénario de Marketing Automation, importation et synchronisation des contacts </li>
          <li> Type Form, création de formulaires aux possibilités multiples </li>
          <li> Système Lundi Matin Business </li>
        </ul>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Avril 2020 - Décembre 2021</span>
      </div>
    </div>
    
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Commercial</h3>
        <div class="subheading mb-3">Swan courtage Assurances</div>
        <p>Nice, FRANCE</p>
        <p>Vente de contrats d'assurances par télephone.       
        <br>Montage du dossier client jusqu'à la signature du contrat et assurer l'accompagnement et
            le suivi client post signature pour répondre à l'ensemble des demandes pouvant être formulées par ce dernier.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Janvier 2019 - Juillet 2019</span>
      </div>
    </div>

  </div>

</section>