<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
  <div class="w-100">
    <h2 class="mb-5">Experiences</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Full-Stack Developer</h3>
        <a class="subheading mb-3" target="_blank" rel="noopener noreferrer" href="http://e-commerce-laravel.herokuapp.com/">www.e-commerce-laravel.com</a>
        
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/anderoma/e_commerce">
          <i class="fab fa-github git" style="font-size:30px"></i>
        </a>
        <p>
        En cours de réalisation d'un projet e-commerce.
        <br> PHP, Laravel, Heroku, Bootstrap, jQuery, Git, Github.
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Février 2020 - Aujourd'hui</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Full-Stack Developer</h3>
        <a class="subheading mb-3" target="_blank" rel="noopener noreferrer" href="http://www.fred-vintage-garage.fr/">www.fred-vintage-garage.fr</a>
        <p>
        En cours de réalisation d'un site web pour un passionné de voitures anciennes.
        <br> Ruby on Rails, Heroku, Bootstrap, jQuery, Git, Github.
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Janvier 2020 - Aujourd'hui</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Front-End Developer</h3>
        <a class="subheading mb-3" target="_blank" rel="noopener noreferrer" href="https://learnit-thp.herokuapp.com/">www.learnit-thp.herokuapp.com</a>
        <p>Nice, FRANCE</p>
        <p>
        Réalisation d'un site web de partage de cours et de fiche de cours avec une équipe de 3 personnes.
        <br> Ruby on Rails, Heroku, Bootstrap, jQuery, Trello, Stripe, Git, Github.
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Décembre 2019</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Full-Stack Developer</h3>
        <p>Nice, FRANCE</p>
        <p>
        Réalisation d'un site e-commerce avec une équipe de 3 personnes.
        <br> Ruby on Rails, Heroku, Bootstrap, jQuery, Trello, Stripe, Git, Github.
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Décembre 2019</span>
      </div>
    </div>
    
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Commercial</h3>
        <div class="subheading mb-3">Swan courtage Assurances</div>
        <p>Nice, FRANCE</p>
        <p>Vente de contrats d'assurances par télephone.       
        <br>Montage du dossier client jusqu'à la signature du contrat et assurer l'accompagnement et
            le suivi client post signature pour répondre à l'ensemble des demandes pouvant être formulées par ce dernier.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Janvier 2019 - Juillet 2019</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Responsable adjoint</h3>
        <div class="subheading mb-3">I-Sushi</div>
        <p>Cagnes sur mer, FRANCE</p>
        <p>
          Ma mission était de veiller au bon fonctionnement du restaurant, service, prise de commandes par téléphone, 
          gestion de la caisse, élaboration des plannings, gestion des imprévus.
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Mai 2016 - Décembre 2018</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Employé commercial (Saisonnier)</h3>
        <div class="subheading mb-3">E.Leclerc</div>
        <p>La Colle sur Loup, FRANCE</p>
        <p>Techniques de mise en rayon, manutention.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Mai 2015 - Août 2015</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
      <div class="resume-content">
        <h3 class="mb-0">Commis de cuisine</h3>
        <div class="subheading mb-3">Intersection cafe </div>
        <p>Melbourne, AUSTRALIE</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Mars 2014 - Juin 2014</span>
      </div>
    </div>

  </div>

</section>