<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="realisations">
  <div class="w-100">
    <h2 class="mb-5">Réalisations</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <a class="subheading mb-3" target="_blank" rel="noopener noreferrer" href="https://www.famillericci.com/">www.famillericci.com</a>
        <p><b>Wordpress, Bootstrap, Woocommerce</b></p>
        <p>
          Création d'un site e-commerce wordpress à partir de maquette Adobe XD en utilisant le builder par défaut Gutenberg et un thème minimaliste intégrant Bootstrap et jquery
          (<a href="https://bootscore.me/">Bootscore</a>).<br>
          Création de l'espace boutique avec le plugin Woocommerce, intégration du catalogue produit, configuration et test de la boutique en ligne.<br>
          Intégration du feed Instagram en bas de page en modifiant l'affichage du front.
          <br>Création d'une page avec 2 cartes interactives pour trouver le revendeur le plus proche de chez vous via l'API Google Map.
        </p>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <a class="subheading mb-3" target="_blank" rel="noopener noreferrer" href="https://www.gekosmart.com/">www.gekosmart.com</a>
        <p><b>Prestashop, Bootstrap, Hiboutik, Smarty</b></p>
        <p>
          Création d'un site e-commerce Prestashop à partir de maquette Adobe XD en utilisant un thème intégrant Bootstrap
          (cartzilla).<br>
          Modification des templates smarty pour adapter le front du site en respectant la maquette fournis.
          <br>Intégration du catalogue produit.
          <br>Création d'un module pour recevoir un devis pour une réparations d'un téléphone.
          <br>Intégration et configuration d'un module d'avis google, d'un module de Blog, d'un module de paiement et d'un module de livraison.
          <br>Synchronisation des stocks entre la boutique physique et la boutique en ligne (entre Hiboutik et Prestashop).
        </p>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <a class="subheading mb-3" target="_blank" rel="noopener noreferrer" href="https://www.milenefizel.com/">www.milenefizel.com</a>
        <p><b>Wordpress, Bootstrap, Calendly, SendinBlue</b></p>
        <p>
          Création d'un site wordpress à partir de maquette Adobe XD en utilisant le builder par défaut Gutenberg et un thème minimaliste intégrant Bootstrap et jquery
          (<a href="https://bootscore.me/">Bootscore</a>).<br>
          Intégration de boutons "Prendre rdv" qui affiche en pop up la possibilité de prendre rdv via Calendly.<br>
          Intégration de formulaires SendinBlue pour l'inscription à la Newsletter ou pour recevoir un Ebook.
        </p>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <a class="subheading mb-3" target="_blank" rel="noopener noreferrer" href="https://www.tendancelocale.fr/">www.tendancelocale.fr</a>
        <p><b>Wordpress, Bootstrap, JS</b></p>
        <p>
          Création d'un site wordpress à partir de maquette Adobe XD en utilisant le builder par défaut Gutenberg et un thème minimaliste intégrant Bootstrap et jquery
          (<a href="https://bootscore.me/">Bootscore</a>).<br>
           Intégration d'animation JS sur les images et sur le curseur de la souris (réalisé avec jquery).
        </p>
      </div>
    </div>
    
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <a class="subheading mb-3" target="_blank" rel="noopener noreferrer" href="https://habitatgreen.fr/">www.habitatgreen.fr</a>
        <p><b>Wordpress, Divi</b></p>
        <p>
          Création d'un site vitrine wordpress pour un magasin de gazon synthétique en utilisant le builder Divi.
          <br>De la mise en place de l'hébergement jusqu'à la livraison du projet.
        </p>
      </div>
    </div>
    


  </div>

</section>